<%- include('../navigation/header') %>
<br><br><br>
<div class="container" style="background-color: white;width: 100%;padding: 0px;border-radius: 10px;box-shadow: 0px 0px 12px rgba(0,0,0,0.1);">
    <div class="row">
        <div class="col-lg-12 col-md-12" style="padding: 25px 20px 30px 35px">
            <h5 style="font-weight: bold;letter-spacing: 1px;text-align: center">Create News</h5>
            <br>
            <form action="/add-news" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="" >Category</label>
                            <%if(role_id == 3){%>
                                <%if(categories.length != 0){%>
                                <select class="form-control" name="c" id="c" required>
                                    <option value="<%= categories[0].id %>"><%= categories[0].name %></option>
                                </select>
                                <%} else {%>
                                <select class="form-control" name="c" id="c" required>
                                    <option value="12">राजस्थान</option>
                                </select>
                                <%}%>
                            <%} else {%>
                                <select class="form-control" name="c" id="c" required>
                                    <option value="">Select Category</option>
                                    <% for(var i=0;i<categories.length;i++){ %>
                                    <%if(categories[i].name != null){%>
                                        <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                                    <% } %>
                                    <% } %>
                                </select>
                            <%}%>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label for="">Sub-Category</label>
                            <%if(role_id == 3){%>
                            <%if(subcategories.length != 0){%>
                                <select class="form-control" name="sc" id="sc" required>
                                    <option value="<%= subcategories[0].id %>"><%= subcategories[0].name %></option>
                                </select>
                            <%} else {%>
                                <select class="form-control" name="sc" id="sc" required>
                                    <option value="0">other</option>
                                </select>
                            <%}%>
                            <%} else {%>
                                <select class="form-control" name="sc" id="sc" required>
                                    <option value="">Select Subcategory</option>
                                </select>
                            <%}%>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" required>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12" style="display: none">
                        <label for="">Status</label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="inlineRadio0" value=1 checked>
                            <label class="form-check-label" for="inlineRadio0">Active</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="inlineRadio01" value=0>
                            <label class="form-check-label" for="inlineRadio01">Deactive</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <label for="">Short Description</label>
                            <textarea type="text" class="form-control" id="sd" name="sd" placeholder="Enter Short Description" maxlength="140" rows="4" required></textarea>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="admin_id" value=<%=admin_id%>>

                <div class="form-group">
                    <label for="">Content</label>
                    <textarea name="ta" class="form-control" id="ta" cols="30" rows="8" placeholder="Content" required></textarea>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <label for="">Add Images(Select Multiple Images)</label>
                        <div class="row" id="imagegroup">
                            <div class="col-lg-6 col-md-12">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="form-group">
                                            <input type="file" class="form-control-file" name="images" id="img" accept="image/x-png,image/gif,image/jpeg" onchange="showPreview('image-preview',this.files)">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <a onclick="addimage()" style="text-decoration: none;font-size: 1.5rem"><i class="fas fa-plus-circle"></i></a>
                                    </div>
                                    <div class="col-12" style="padding: 15px">
                                        <img src="" alt="" id="image-preview" style="width: 100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <label for="">Add Videos(Select Multiple Videos)</label>
                                <div class="row" style="margin: 0;width: 100%;padding: 0">
                                    <div class="col-6" style="padding: 0">
                                        <div class="form-group">
                                            <input type="file" class="form-control-file" name="videos" id="youtube-videos" accept="video/*" onchange="showVideoPreview(this.files)">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <a onclick="submitvideo()" class="btn btn-primary">Upload</a>
                                    </div>
                                    <div class="col-2">
                                        <a onclick="addVideo()" style="text-decoration: none;font-size: 1.5rem"><i class="fas fa-plus-circle"></i></a>
                                    </div>
                                    <div class="col-12" style="padding: 15px;padding: 0">
                                        <video width="400" controls>
                                            <source src="mov_bbb.mp4" id="video_here">
                                            Your browser does not support HTML5 video.
                                        </video>
                                    </div>
                                </div>
<!--                        <div class="form-group" id="videogroup">-->
<!--                            <label for="">Add Videos(Add multiple URLs)</label><br>-->
<!--                            <button type="button" id="url" style="border: 1px solid #707070; border-radius: 3px" data-toggle="modal" data-target="#video">Add url</button>-->

<!--                            <div id="videos">-->

<!--                            </div>-->

<!--                            &lt;!&ndash; Modal &ndash;&gt;-->
<!--                            <div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--                                <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--                                    <div class="modal-content">-->
<!--                                        <div class="modal-header">-->
<!--                                            <h5 class="modal-title" id="exampleModalLongTitle">Video Url</h5>-->
<!--                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                                <span aria-hidden="true">&times;</span>-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <div class="modal-body" id="addvideourl">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-10">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <input type="url" class="form-control url" name="url" placeholder="Enter url">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-2">-->
<!--                                                    <a onclick="addvideourl()" style="text-decoration: none;font-size: 1.5rem"><i class="fas fa-plus-circle"></i></a>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="modal-footer">-->
<!--                                            <button type="button" onclick="previewVideo()" class="btn btn-primary" data-dismiss="modal">Save changes</button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>

                <br><br>
                <div class="container" style="width: 50%;text-align: center">
                    <button type="submit" id="verify" class="btn btn-primary" style="width: 100%;background-color: #556ee6">Create</button>
                </div>
            </form>

            <br>
        </div>
    </div>
</div>

<!--<div id="overlay1">-->
<!--    <div style="width: 400px">-->
<!--        <div class="image">-->
<!--            -->
<!--        </div>-->
<!--                <div id="progstat"></div>-->
<!--                <div style="width: 100%;height: 5px;background: #c9c9c9">-->
<!--                    <div id="progress"></div>-->
<!--                </div>-->
<!--        <br>-->
<!--    </div>-->
<!--</div>-->

<% for(var i=0;i<subcategories.length;i++){ %>
<input type="hidden" name="" id="subcategoriesName<%=i%>" value="<%=subcategories[i].name%>">
<input type="hidden" name="" id="subcategoriesId<%=i%>" value="<%=subcategories[i].id%>">
<input type="hidden" name="" id="subcategoriesCat<%=i%>" value="<%=subcategories[i].category_id%>">
<%}%>
<input type="hidden" name="" id="subcatlength" value=<%=subcategories.length%>>
<script>

    function showVideoPreview(a) {
        var $source = $('#video_here');
        $source[0].src = URL.createObjectURL(a[0]);
        $source.parent()[0].load();
    }

    var count1 = 0;
    function addimage(){
        $('#imagegroup').append('<div class="col-lg-6 col-md-12" id="i'+count1+'"><div class="row"><div class="col-10" ><div class="form-group"><input type="file" class="form-control-file" name="images" accept="image/x-png,image/gif,image/jpeg" onchange="showPreview(\'image-preview'+count1+'\',this.files)"></div></div><div class="col-2"><a onclick="deleteimage('+count1+')" style="text-decoration: none;font-size: 1.5rem;color: #DC3545"><i class="fas fa-times-circle"></i></a></div><div class="col-12" style="padding: 15px"><img src="" alt="" id="image-preview'+count1+'" style="width: 100%"></div></div></div>');
        count1++;
    }

    function deleteimage(i){
        var a = '#i' + i;
        $(a).remove();
    }

    function showPreview(id,files){
        if(files) {
            var reader = new FileReader();

            reader.onload = function(event) {
                $('#'+ id).attr('src',event.target.result);
            }
            reader.readAsDataURL(files[0]);
        }
    }

    function previewVideo() {
        document.getElementById('videos').innerHTML = "";
        var inputs = $('.url');
        console.log(inputs);
        for(var i=0;i<inputs.length;i++){
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
            var match = (inputs[i].value).match(regExp);
            var str = (match&&match[7].length==11)? match[7] : false;
            $('#videos').append('<iframe src="https://www.youtube.com/embed/'+ str +'" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
        }
    }

    var count = 0;
    function addvideourl(){
        $('#addvideourl').append('<div class="row" id="d'+count+'"><div class="col-10"><div class="form-group"><input type="text" class="form-control url" name="url" placeholder="Enter url"></div></div><div class="col-2"><a  onclick="deletevideourl('+count+')" style="text-decoration: none;font-size: 1.5rem;color: #DC3545"><i class="fas fa-times-circle"></i></div></div>');
        count++;
    }

    function deletevideourl(i){
        var a = '#d' + i;
        $(a).remove();
    }

    var subcatlength = document.getElementById('subcatlength').value;

    // $('#state').change(function(){
    //     var a = document.getElementById('state').value;
    //     var select = document.getElementById("city");
    //     var length = select.options.length;
    //     for (var i = length-1; i >= 0; i--) {
    //         select.options[i] = null;
    //     }
    //     $.ajax({
    //         url:"/getCity/" + a,
    //         dataType: "jsonp",
    //         type:"GET",
    //         success: function(data){
    //             var b = data;
    //             for(var i=0;i<b.length;i++){
    //                 var option = document.createElement("option");
    //                 option.text = b[i].name;
    //                 option.value= b[i].name;
    //                 select.add(option);
    //             }
    //         },
    //         error: function(err){
    //             console.log(err.status);
    //         }
    //     });
    // });
    $('#c').change(function(){
        var a = parseInt(this.value);
        var select = document.getElementById("sc");
        var length = select.options.length;
        for (var i = length-1; i >= 0; i--) {
            select.options[i] = null;
        }
        var b = 0;
        for(var i = 0;i<subcatlength;i++){
            var subcategoriesName = document.getElementById('subcategoriesName'+i).value;
            var subcategoriesId = document.getElementById('subcategoriesId'+i).value;
            var subcategoriesCat = parseInt(document.getElementById('subcategoriesCat'+i).value);
            if(subcategoriesCat == a){
                var option = document.createElement("option");
                option.text = subcategoriesName;
                option.value= subcategoriesId;
                select.add(option);
                b++;
            }
        }
        if(b==0){
            var option = document.createElement("option");
            option.text = "No subcategory present";
            option.value= '0';
            select.add(option);
        } else {
            var option = document.createElement("option");
            option.text = "Other";
            option.value= '0';
            select.add(option);
        }
    });

    function submitvideo() {
        var file = document.getElementById('youtube-videos').files[0];
        console.log(file);
        if(file != undefined){
            var form = new FormData();
            form.append('videos', file);
            form.append('title', $('#title').val());
            form.append('description', $('#sd').val());
            // console.log(form);
            if($('#title').val() != "" && $('#sd').val() != ""){
                // $.ajax({
                //     url : "/upload-video",
                //     type: "POST",
                //     cache: false,
                //     contentType: false,
                //     processData: false,
                //     data : form,
                //     success: function(response){
                //         // $('.result').html(response.html)
                //         console.log(response);
                //     }
                // });
            } else {
                alert('Please fill the title and short description first to upload the video!');
            }
        } else {
            alert('Please Select a file first!');
        }
    }

</script>

<%- include('../navigation/footer') %>