<%- include('../navigation/header') %>
<br><br><br>

<div class="container" style="background-color: white;width: 100%;padding: 0;border-radius: 10px;box-shadow: 0 0 12px rgba(0,0,0,0.1);overflow: hidden">
    <div class="row">
        <div class="col-lg-4 col-md-12" style="padding: 25px 20px 30px 35px;height: 80vh;overflow-y: scroll">
            <h5 style="font-weight: bold;letter-spacing: 1px;text-align: center">E-paper</h5>
            <br>
            <form action="/add-epaper-pdf" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Category</label>
                    <select class="form-control" name="category">
                        <%for(var i = 0;i<category.length;i++){%>
                        <option value="<%=category[i].name%>"><%=category[i].name%></option>
                        <%}%>
                    </select>
                </div>
                <input type="hidden" name="admin_id" value=<%=admin_id%>>
                <div class="form-group">
                    <label for="">Date</label>
                    <input type="date" class="form-control" name="created_at" required>
                </div>
                <div class="form-group">
                    <label for="">Thumbnail (Size less than 300kb)</label>
                    <input type="file" class="form-control-file" id="thumbnail" name="thumbnail" accept="image/*" required>
                </div>
                <div class="form-group">
                    <div class="row" id="addedHere">
                        <div class="col-6">
                            <label for="">Page 1</label>
                            <input type="file" class="form-control-file" name="pdf" id="img" accept="image/*" required>
                        </div>
                        <div class="col-6">
                            <br>
                            <a href="#" class="btn btn-primary" style="width: 100%;background-color: #556ee6" onclick="addPage()">Add More Page</a>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="width: 100%;background-color: #556ee6">Add</button>
            </form>
        </div>
        <div class="col-lg-8 col-md-12" style="background-color: white;text-align: center;height: 80vh;overflow-y: scroll">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Pdf</th>
                    <th>Category</th>
                    <th>Date & Time</th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <%for(var i=0;i<epaper.length;i++){%>
                    <tr>
                        <th><%= i+1 %></th>
                        <td>
                            <a href="/epaper-images/<%=epaper[i].id%>" class="btn btn-primary">Open</a>
                        </td>
                        <td><%= epaper[i].category%></td>
                        <td><%= epaper[i].created_at %></td>
                        <%if(role_id == 1){%>
                            <td>
                                <div class="row">
                                    <div class="col-2">
                                        <a href="/delete-epaper/<%= epaper[i].id%>" style="color: #DC3545;text-decoration: none;padding: 4px 8px;border-radius: 50%" class="confirm"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </td>
                        <%} else if(role_id == 2) {%>
                        <%if(admin_id == epaper[i].user_id){%>
                            <td>
                                <div class="row">
                                    <div class="col-2">
                                        <a href="/delete-epaper/<%= epaper[i].id%>" style="color: #DC3545;text-decoration: none;padding: 4px 8px;border-radius: 50%" class="confirm"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </td>
                        <%} else {%>
                            <td>Not allowed to delete</td>
                        <%}%>
                        <%}%>
                    </tr>
                <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<script>
    $('a.confirm').on('click', function(){
        if(!confirm('Confirm Deletion')){
            return false;
        }
    });
    var j = 1;
    function addPage(){
        j++;
        $('#addedHere').append('<div class="col-6" id="one'+j+'"> <label for="">Page '+j+'</label><input type="file" class="form-control-file" name="pdf" id="img" accept="image/*" required></div><div class="col-6" id="two'+j+'"><br><a href="#" class="btn btn-danger" style="width: 100%" onclick="DeletePage('+j+')">Delete</a></div>');
    }
    function DeletePage(j){
        $('#one'+j).remove();
        $('#two'+j).remove();
    }
    $('#thumbnail').change(function (){
       // console.log(this.files);
        var size = parseInt(this.files[0].size/1000);
        if(size > 300){
            alert('Size cannot be greater than 300kb!');
            document.getElementById('thumbnail').value = "";
        }
    });
</script>

<%- include('../navigation/footer') %>